<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cohort.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @cohort.start_date.strftime("%m " "%d," " %Y") %>
</p>

<p>
  <strong>End date:</strong>
  <%= @cohort.end_date.strftime("%m " "%d," " %Y") %>
</p>

<p>
  <strong>Course ID:</strong>
  <%= @cohort.course_id %>
</p>

<p>
  <strong>Instructor:</strong>
    <% @cohort.teachers.each do |teacher| %>
    <%= teacher.first_name %> <%= teacher.last_name %></p>
    <% end %>
</p>
<p>
  <strong>Students Enrolled:</strong>
  <% @cohort.students.each do | student | %> </br>
  <%= "#{student.mutant_name} - #{student.first_name} #{student.last_name}"%><br />
  <% end %>
</p>

<%= link_to 'Edit', edit_cohort_path(@cohort) %> |
<%= link_to 'Back', cohorts_path %>
