<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cohort.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @cohort.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @cohort.end_date %>
</p>

<p>
  <strong>Course # ID:</strong>
  <%= @cohort.course_id %>
</p>

<p>
  <strong>Instructor:</strong>
  
    <% @teacher_cohorts.teachers.each do |teacher| %>
    <%= teacher.id %> <%= teacher.first_name %> <%= teacher.last_name %></p>
    <% end %>

  <strong>Students Enrolled:</strong>
    <% @student_cohorts.students.each do |student| %>
    <%= student.id %>. <%= student.first_name %> <%= student.last_name %></p>
    <% end %>
</p>

<%= link_to 'Edit', edit_cohort_path(@cohort) %> |
<%= link_to 'Back', cohorts_path %>
