<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @course.hours %>
</p>

  <strong>Cohorts Associated:</strong></br>
    <% @course.cohorts.each do |cohort| %>
    <%= cohort.name %></p>
    <% end %>
</p>



<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
