<!DOCTYPE html>
<html>
  <head>
    <title>AdminPanel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<div class="sidenav">
<ul>
<%= image_tag 'xavier_school_nav.png' %>
<li><a href="/dashboard">Dashboard</a></li>
<li><%= link_to 'Courses', courses_path %></li>
<li><%= link_to 'Cohorts', cohorts_path %></li>
<li><%= link_to 'Teachers', teachers_path %></li>
<li><%= link_to 'Students', students_path %></li>

</ul>
</div>

<div id="main">
    <%= yield %>
</div>



</body>

</html>

